.ScreenLoader {
	height: 100vh;
	width: 100vw;
	background-color: #5E5FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

#screenl {

}

.screen-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.shidden {
	display: hidden;
}

.spinner {
	color: white;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5B5B5B;
  z-index: 9999;
  background-image: url('../../../public/spinner.jpg');
  background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
}