@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ExpenseSegment {
	width: 100%;
	height: 100vh;
	background-color: #E8E9E8;
	text-align: left;
  border-bottom: solid 1px #E8E9E8;
}

.EDescription {
	font-size: 1.2em;
}

.DescriptionTitle {
	width: 90%;
	color: white;
	font-size: 1.3em;
	letter-spacing: 2px;
	background: #5B5B5B;
	padding: 10px;
	margin-top: 20px;
	margin-left: -20px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.GraphContainer2 {
	height: 65%;
	width: 45%;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
}

.LabelContainer {
	padding-top: 20px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}

.LabelContainer div {
	display: inline-block;
	padding: 10px;
	width: 170px;
	padding: 0;
	margin: 0;
}

.LabelItem {
	width: 40px;
}

.GraphTitle {
	float: right;
	margin-right: -30px;
	margin-bottom: 0;
	width: 28%;
	background: #5B5B5B;
	position: relative;
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 1.8em;
	color: white;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.ECanvasContainer {
	height: 68vh;
	min-height: 460px;
	padding: 0;
	background: #FFCFA1;
	float: right;
	margin-top: 8.5em;
	margin-right: 5%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
	width: 50%;
}

.GraphDescContainer {
	width: 100%;
}
@media (max-width: 1220px) {
	.SalariesDescContainer {
		display: none;
	}
	.DescTitleContainer {
		height: 68vh;
	}
	.ExpenseTable td {
		padding-left: 2px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.3em;
	}
}

@media (min-width: 1220px) {
	.DescTitleContainer {
		height: 37vh;
	}
}

@media (max-width: 790px) {
	.LabelContainer {
		display: none;
	}
}

@media (max-width: 1020px) {
	.eAmount {
		background: blue;
		display: none;
	}
}

.DescTitleContainer {
	color: #5B5B5B;
	float: left;
	width: 30%;
	min-height: 37vh;
	margin-left: 7%;
	margin-top: 8.5em;
  background: #FFCFA1;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}


.SalariesContainer {
	padding-left: 30px;
	width: 100%;
	display: inline-block;
}
.Salarydiv {
	display: inline-block;
}
.SalariesDescContainer {
	color: #5B5B5B;
	float: left;
	width: 30%;
	height: 29vh;
	position: absolute;
	margin-left: 7%;
	margin-top: 27em;
	min-height: 200px;
	background: #FFCFA1;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.DescTitleContainer p {
	padding: 20px;
}

.SalaryTD {
	padding-left: 15%;
}

.EmployeeName {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}

.EDescription table {
	padding-left: 10px;
}

.li1 {
	color: #9E9FFF;
}
.li2 {
	color: #9B9B9B;
}
.li3 {
	color: #5E5FFF;
}
.li4 {
	color: #5B5B5B;
}
.li5 {
	color: #3C3CA3;
}
.li6 {
	color: #FFCFA1;
}

.ExpTotal {
	font-weight: 900;
	border-top: 1px solid #5B5B5B;

}

.group {
	color: #5E5FFF;
}


.Description {
	letter-spacing: 3px;
}

.scrollbox {
	z-index: 2
}
