.HeroBackground {
	width: 100%;
	background-color: blue;
	height: 100vh;
}

.HeroContainer {
	width: 70%;
	background-color: peru;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
}

.TitleContainer h1 {
	color: blue;
	margin: 0 auto;
}
