.HeroBackground {
	width: 100%;
	background-color: blue;
	height: 100vh;
}

.HeroContainer {
	width: 70%;
	background-color: peru;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.TitleContainer h1 {
	color: blue;
}
