.SearchBarContainer {
	width: 400px;
	display: inline-block;
}

.SearchBarContainer input {
	background-color: 'gray';
	border-style: none;
	width: 400px;
	font-size: 1.2em;
	/*padding: 5px;*/
	opacity: 0.8;
	height: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.SearchContent {
	height: 38px;
}

.SearchBtnContainer {
	display: inline-block;
	height: 100%;
	margin-left: 30px;
}

.SearchBtnContainer button {
	padding: 0px;
	margin: 0;
	height: 100%;
}

.SearchTitle {
	font-size: 2em;
	color: #EEEEEE;
}

.typeahead-selector {
	position: absolute;
	line-height: 25px;
	margin: 0 auto;
	width: 400px;
	background: white;
	text-align: left;
	padding: 5px;
}

.typeahead-selector a:link {
	text-decoration: none;
	color: #5B5B5B;
}
.typeahead-selector a:visited {
	text-decoration: none;
	color: #5B5B5B;
}
.typeahead-selector a:hover {
	text-decoration: none;
	color: black;
}
.typeahead-selector a:active {
	text-decoration: none;
	color: #5B5B5B;
}
