.NavBarContainer {
  position: relative;
  z-index: 1000;
  background: #E8E9E8;
  top: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 -14px 14px rgba(0,0,0,0.1),0 -2px 10px rgba(0,0,0,0.1);
}


.NavTitleContainer {
  width: 100vw;
  display: flex;
  position: relative;
}

.NavTitleContainer h1 {
	color: #5B5B5B;
	margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 5px;;
}

.TabBarContainer {
  width: 100vw;
  position: relative;
  bottom: 0;
}

.navTab {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: table;
  width: 100%;
}
.navTab li {
  display: table-cell;
  text-align: center;
  font-size: 13px;
}

.active {
  border-bottom: solid 5px #F27A63;
}

.navTab li a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.marker {
  position: absolute;
  height: 3px;
  background: #000;
  width: 5px;
  display: inline-block;
  left: 0;
  top: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: -3px;
}
