@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.Logo {
	background-image: url('../../../public/icon.png');
	height: 80px;
	width: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-left: 20px;
}

.HeroBackground {
	width: 100%;
	background-color: 'gray';
	height: 100vh;
	display: flex;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../../public/pic.jpg');
}

.HeroBackground h3 {
	font-size: 1.5em;
	padding-bottom: 12px;
	color: #5B5B5B;
	margin: 0 auto;
	margin-top: 15%;
	margin-bottom: 20px;
	border-bottom: 2px solid #EEEEEE;
	width: 82%;
}

.HeroContainer {
	width: 45%;
	min-width: 600px;
	color: #5B5B5B;
	position: absolute;
	top: 260px;
	right: 0;
	height: 70%;
	text-align: center;
	font-size: 1.5em;
	background-color: #F9F9F9;
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.12);*/

}

.TitleContainer {
	width: 45%;
	min-width: 600px;
	min-height: 260px;
	position: absolute;
	top: 0;
	right: 0;
	height: 35%;
	text-align: center;
	background: #FFCFA1;
	z-index: 2;
}

.TitleContainer h1 {
	color: #5B5B5B;
	font-size: 3em;
	padding: 0;
	padding-left: 12px;
	margin-left: 12px;
	padding-top: 5%;
	height: 87px;
	margin: 0;
	font-family: 'Open Sans Condensed';
	letter-spacing: 3px;
	word-spacing: 6px;
}

.btn {
	background-color: #5E5FFF;
  border:none;
  font-size:0.8em;
  color: white;
	margin-top: 3%;
  width: 100px;
  height: 30px;
}
