.HeroBackground {
	width: 100%;
	background-color: 'gray';
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-image: url('../../../public/background.jpeg');
}

.HeroContainer {
	width: 70%;
	max-width: 60%;
	text-align: center;
}

.TitleContainer h1 {
	color: #F27A63;
	margin: 0 auto;
	font-size: 3.0em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.btn {
	background-color: #F27A63;
  border:none;
  font-size:0.8em;
  color:white;
	margin-top: 3%;
  width: 100px;
  height: 30px;
}
